# Dependencies
node_modules

# Built files
out

# Compiled Typescript files
lib/angl-scope.js
lib/angl-scope.js.map
lib/run-all-transformations.js
lib/run-all-transformations.js.map
lib/process-phase-zero.js
lib/process-phase-zero.js.map
lib/process-phase-one.js
lib/process-phase-one.js.map
lib/ast-types.js
lib/ast-types.js.map
lib/tree-walker.js
lib/tree-walker.js.map
lib/global-scope.js
lib/global-scope.js.map
lib/compile.js
lib/compile.js.map
lib/ast-node-children.js
lib/ast-node-children.js.map
lib/scope-variable.js
lib/scope-variable.js.map
lib/process-phase-resolve-identifiers-to-variables.js
lib/process-phase-resolve-identifiers-to-variables.js.map
lib/process-phase-assign-js-identifiers.js
lib/process-phase-assign-js-identifiers.js.map
lib/ast-utils.js
lib/ast-utils.js.map

# Downloaded TypeScript definitions
typings

# IntelliJ/WebStorm file
main module.iml
.idea
# gh-pages checkout for updating the website
github-pages
