!!! html
html
    head
        title Angl-to-Javascript compiler demo

        link(rel="stylesheet", type="text/css", href="style.css")

        // TODO include jQuery, knockout(?)
        script(type="text/javascript", src="vendor/jquery-1.9.1.min.js")
        script(type="text/javascript", src="vendor/knockout-2.2.1.min.js")
        script(type="text/javascript", src="vendor/lodash.min.js")
        script(type="text/javascript")
            // stub out require() support
            window.modules = {
                'lodash': window._
            }
            window.require = function(module) {
                var ret = modules[module]
                if(!ret) throw new Error('unknown module ' + JSON.stringify(module))
                return ret
            }
            window.module = {exports: {}}
        script(type="text/javascript", src="vendor/parser.js")
        script(type="text/javascript")
            window.modules['./parser.js'] = module.exports
            window.module = {exports: {}}
        script(type="text/javascript", src="vendor/angl.js")
        script(type="text/javascript")
            modules['angl'] = module.exports
            window.module = {exports: {}}
        script(type="text/javascript", src="main.js")
        script(type="text/javascript")
            modules['compiler'] = module.exports
            window.module = {exports: {}}
        script(type="text/javascript")
            $(document).ready(function($) {
                var angl = require('angl')
                var compiler = require('compiler')
                var viewModel = window.viewModel = {}
                ;(function() {
                    this.view = ko.observable('js')
                    this.parserErrors = ko.observable()
                    this.compilerErrors = ko.observable()
                    this.ast = ko.observable()
                    this.compiledJs = ko.observable()
                    this.inputAngl = ko.observable('')
                    this.on_getPermalinkClicked = function() {
                        var hash = encodeURIComponent(this.inputAngl())
                        window.location.hash = hash
                    }
                    _.bindAll(this, 'on_getPermalinkClicked');

                    var recompile = ko.computed(function() {
                        try {
                            this.ast(angl.parse(this.inputAngl()))
                        } catch(e) {
                            this.parserErrors(e.message)
                            return
                        }
                        this.parserErrors(undefined)
                        try {
                            this.compiledJs(compiler(this.ast()))
                        } catch(e) {
                            this.compilerErrors(e.message)
                            return
                        }
                        this.compilerErrors(undefined)
                    }, this).extend({throttle: 500})

                    if(window.location.hash) {
                        this.inputAngl(decodeURIComponent(window.location.hash.replace(/^#?/, '')))
                    }

                }).apply(viewModel)

                ko.applyBindings(viewModel)
            })

    body
        .left-column.container
            textarea#input.fill-container(data-bind="value: inputAngl, valueUpdate: 'afterkeydown'")
        .right-column.container
            .top-row
                input(type="radio", name="view", value="ast", data-bind="checked: view")
                label AST
                input(type="radio", name="view", value="js", data-bind="checked: view")
                label Javascript
                = " | "
                a(href="javascript:void 0", data-bind="click: on_getPermalinkClicked") Get Permalink

            #output.fill-container.container
                // ko if: view() == 'js'
                // ko ifnot: compilerErrors
                code#compiledCode.scroll-box
                    pre(data-bind="text: compiledJs")
                // /ko
                // ko if: compilerErrors
                pre#error.scroll-box(data-bind="text: compilerErrors")
                // /ko
                // /ko
                // ko if: view() == 'ast'
                // ko ifnot: parserErrors
                code#compiledCode.scroll-box
                    pre(data-bind="text: JSON.stringify(ast(), null, '    ')")
                // /ko
                // ko if: parserErrors
                pre#error.scroll-box(data-bind="text: parserErrors")
                // /ko
                // /ko
